html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#story-overlay {
  height: 100%;
  width: 100%;
  background-color: #1b1b1b;
  display: none;
  position: absolute;
  z-index: 300;
}

#story-carousel {
  height: 870px;
  width: 500px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

#user-profile {
  top: 33px;
  height: 30px;
  width: 400px;
  position: absolute;
}

#user-profile img {
  border-radius: 50%;
  height: 32px;
  margin-left: 15px;
}

#user-profile div {
  display: inline-block;
  line-height: 0px;
  height: 25px;
  margin-left: 3px;
  color: white;
  font-size: 14px;
}

#story-overlay-logo {
  height: 29px;
  width: 103px;
  position: absolute;
  margin-left: 10%;
  margin-top: 12px;
  user-select: none;
}

#story-overlay-close {
  position: absolute;
  right: 10%;
  top: 20px;
}

#user-profile span {
  display: inline-block;
  height: 25px;
  margin-left: 10px;
  color: #d0d0d0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  position: absolute;
  top: 10px;
}

#story-carousel > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#story-button-left {
  position: absolute;
  top: 50%;
  left: -10%;
}

#story-button-right {
  position: absolute;
  top: 50%;
  right: -10%;
}

#top-shadow {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 500px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
}

#story-carousel > #story-progress-container {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  display: flex;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
}

#story-progress-container .story-progress {
  width: 90px;
  height: 2px;
  position: relative;
  background-color: #696969;
  margin-top: 10px;
  margin-right: 2px;
}

.story-progress .progress {
  width: 0%;
  height: 2px;
  position: relative;
  background-color: white;
}

.story-progress .progress.full {
  width: 100%;
  transition: 5s width linear;
}

.seen {
  transition: none;
}

.story-progress .progress.seen {
  width: 100%;
}

#top-nav {
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  min-width: 800px;
  z-index: 200;
  user-select: none;
}

#logoContainer {
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10%;
}

#logo {
  width: 100%;
  margin-top: 12px;
}

#search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 215px;
  height: 28px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
}

#magnify-logo {
  left: 7px;
  position: relative;
  font-size: 14px;
  top: 2px;
  margin-right: 5px;
}

#menu-container {
  top: 15px;
  position: absolute;
  margin-right: 10%;
  right: 0;
}

#notifcation {
  width: 18px;
  height: 18px;
  background-color: #ed4956;
  position: absolute;
  border-radius: 50%;
  right: 5px;
  top: 3px;
  font-size: 11px;
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 18px;
}

.menu-logo {
  font-size: 25px;
  padding: 8px;
  position: relative;
  cursor: pointer;
}

.menu-logo:hover {
  filter: brightness(1.9);
}

#search input {
  position: relative;
  height: 100%;
  padding: 0;
  border: none;
  width: 87%;
  outline: none;
  background-color: #fafafa;
}

::-webkit-input-placeholder {
  text-align: center;
  padding-right: 30px;
  color: #a0a0a0;
}

#profile-picture {
  height: 23px;
  border-radius: 50%;
  right: -22%;
  cursor: pointer;
}

#main-container {
  height: 2500px;
  width: 100%;
  margin-top: 50px;
  position: absolute;
}

#story-container {
  position: relative;
  height: 112px;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #dbdbdb;
  display: flex;
  overflow: hidden;
  border-radius: 2px;
}

#stories {
  position: relative;
  height: 112px;
  width: 600px;
  display: flex;
  transition: right 0.5s;
}

.story {
  position: relative;
  height: 60px;
  width: 60px;
  padding: 20px;
}

.story-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px #dd3270;
  padding: 2px;
  user-select: none;
  animation: fadein 1s;
}

.story:hover {
  filter: brightness(0.6);
  transition: 0.1s filter;
  cursor: pointer;
}

.story-name {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding-top: 2px;
  text-align: center;
}

.story-navigate {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  border: none;
  box-shadow: 0px 1px 10px -3px black;
  font-size: 18px;
  text-align: center;
  color: #b3a4a4;
  background-color: #e5e1e1;
  font-weight: bold;
  outline: none;
}

.story-navigate.left {
  left: 0;
  margin-left: 3px;
  display: none;
  background-color: #e5e1e1;
}

.story-navigate.right {
  right: 0;
  margin-right: 3px;
  background-color: #e5e1e1;
}

#pictures {
  height: 100%;
  margin: auto;
  width: 600px;
  position: relative;
}

#pictures > div:last-child {
  padding-bottom: 25px;
}

.picture-container {
  position: relative;
  width: 600px;
  margin-top: 60px;
  border-radius: 3px;
}

.picture-header {
  height: 60px;
  border: 1px solid #dbdbdb;
  padding-left: 20px;
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.picture-header .display-picture {
  height: 100%;
  width: 8.5%;
}

.picture-header .display-picture img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-top: 14px;
}

.text-bold {
  border-radius: 50%;
  vertical-align: middle;
  line-height: 60px;
  color: #262626;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.picture-header .bread-crumb {
  height: 32px;
  width: 32px;
  position: absolute;
  right: 10px;
  top: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
}

.picture-body {
  height: 600px;
  border: 1px solid #dbdbdb;
  border-top: none;
  background-color: #d6d4d4;
  background-position: -317px -90px;
  animation: color;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

@keyframes color {
  0% {
    background-color: rgb(224, 224, 224);
  }
  50% {
    background-color: rgb(189, 186, 186);
  }
  100% {
    background-color: rgb(224, 224, 224);
  }
}

.picture-body img {
  height: 100%;
  width: 100%;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.picture-icon-row {
  height: 12px;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-bottom: none;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 16px;
}

.picture-icon-row img {
  margin-right: 8px;
  cursor: pointer;
}

.comments {
  height: 120px;
  border: 1px solid #dbdbdb;
  border-top: none;
  padding-left: 15px;
}

.comment-input {
  height: 50px;
  border: 1px solid #dbdbdb;
  border-top: none;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.comment-input div {
  display: flex;
  justify-items: center;
  align-items: center;
}
.comment-input button {
  display: flex;
  justify-items: center;
  align-items: center;
  color: #b3dffc;
  background-color: white;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}

.comment-input input::placeholder {
  padding-right: 500px;
  color: #a0a0a0;
}

.comment-input div input {
  width: 100%;
  height: 80%;
  padding: 0;
  border: none;
  width: 90%;
  outline: none;
  background-color: white;
}

.comment-input img {
  margin: auto;
}
.comments .text-bold {
  line-height: 20px;
}

.comments .text-bold span {
  font-weight: 400;
}

.emoji {
  cursor: pointer;
}

.heart-active {
  animation: 0.5s scaleInOut;
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  0% {
    transform: scale(1);
  }
}

@media screen and (max-device-width: 480px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    zoom: 1.6;
  }

  * {
    touch-action: manipulation;
  }

  #story-overlay-logo {
    display: none;
  }

  #story-overlay {
    width: 100vw;
  }

  #story-carousel {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    border-radius: 20px;
  }

  #search {
    display: none;
  }

  #top-shadow {
    width: 100vw;
    border-radius: 0px;
  }
  #story-carousel > img {
    width: 100vw;
    height: 100vh;

    border-radius: 0px;
  }

  #user-profile {
    zoom: 1.3;
  }

  #user-profile div {
    font-size: 16px;
  }

  #user-profile span {
    font-size: 14px;
  }

  #story-carousel > #story-progress-container {
    width: 95vw;
  }

  .story-navigate.left {
    display: none;
  }

  .story-navigate.right {
    display: none;
  }

  .story-progress .progress.full {
    width: 100%;
    transition: 5s width linear;
    height: 0.5vw;
  }

  .story-progress .progress.seen {
    height: 0.5vw;
  }

  #story-progress-container .story-progress {
    height: 0.5vw;
    margin-right: 6px;
    width: 108px;
  }
  #story-button-left {
    display: none;
  }

  #story-button-right {
    display: none;
  }

  #active-story-pic {
    border-radius: 0px;
  }

  #logoContainer {
    margin-left: 2%;
  }

  #story-container {
    margin-top: 0px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #story-container::-webkit-scrollbar {
    display: none;
  }

  #menu-container {
    margin-right: 25%;
  }

  .picture-container {
    margin-top: 0px !important;
  }
  .picture-header {
    border: none;
  }
  .comment-input {
    display: none;
    border: none;
  }
  .comments {
    border: none;
  }
}
